<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Acuamigos Login</title>
</head>
<body>

	<form action="/login" method="POST">
	<input type="text" name="username" id="">
	<input type="password" name="password" id="">
	<input type="submit" value="Enviar">
	</form>
</body>
</html>
