<!DOCTYPE html>
<html lang="eng">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-with, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Acuamigos Login</title>
</head>
<body>

	<form action="/login" method="POST"></form>
	<input type="email" name="email" id="">
	<input type="password" name="password" id="">
	<input type="submit" value="Enviar">
</body>
</html>
